@charset "utf-8";

// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900');

// Variables
$primary: #FFA69E;
$light: #BAFEDD;
$dark: #003049;
$black: #000000;

// Update Bulma's global variables
$widescreen-enabled: false;
$fullhd-enabled: false;
$title-font: Raleway;

// Update title variables
$title-family: Raleway;
$title-weight: 800;

// Code color
$code: $dark;
$pre: $code;

// Link color
$link: $dark;

// Footer variables
$footer-padding: 3rem 1.5rem 3rem;
$footer-background-color: $dark;

// Import bulma
@import "../bulma/bulma.sass";
@import "components/footer.scss";
@import "components/navbar.scss";
@import "components/blog.scss";
