/* css styles */

#quarto-journal {
    margin-bottom: -1em;
}

#quarto-conference {
  margin-bottom: -1em;
}

.quarto-publication .quarto-labels {
  display: flex;
  column-gap: 0.4em;
  padding-bottom: 1em;
  margin-top: 0.25em;
}

.quarto-publication .quarto-labels .quarto-label {
  padding: 0.25em 0.75em;
  font-size: .65em;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: 0.25rem;
  opacity: .6;
}

.quarto-publication .quarto-labels .quarto-label a {
  color: inherit;
  text-decoration: none;
}
